body{
padding-top: 80px;

}
#padding_needed{
  margin-top: 5px;

}

.block_padding{
  margin-top: 10px;
  margin-left: 10px;
}

.modal-body {
    word-wrap: break-word;
}

#modalURL{
  font-size: 24px;
  font-weight: bold;
}

.navbar{
  background-color: black;
}

body{
  background-color: #d9d9d9;
}

#nonByte{
  margin-right: 15px;
}
